@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var uniqueName = Model.Content.Value<string>("uniqueName") ?? "";
    var label = Model.Content.Value<string>("labelText") ?? "";
    var hideLabel = Model.Content.Value<bool>("hideLabel");
    var placeholder = Model.Content.Value<string>("placeholderText") ?? "";
    
    var isRequired = Model.Content.Value<bool>("isRequired");
    var errorMessage = Model.Content.Value<string>("errorMessage") ?? "";

    bool.TryParse(ViewData["error_email"]?.ToString()!, out bool error_email);
    // Kontrollera om formuläret har skickats
    bool formSubmitted = TempData["form_submitted"] != null && (bool)TempData["form_submitted"]!;
}

 <div id="_@uniqueName" class="input-item">
    @if(!hideLabel) {
        <label for="@uniqueName">@label</label>
    } else {
        <label for="@uniqueName"></label>

    }
    <input type="@uniqueName" id="@uniqueName" name="@uniqueName" placeholder="@placeholder" required="@isRequired" value="@ViewData["email"]">
    

    @if(string.IsNullOrEmpty(ViewData["email"]?.ToString()))
    {
        <span class="form-invalid-input">@errorMessage</span> 
    }
    

</div> 