@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@
{
    var headline = Model.Value<string>("sidebarHeadline") ?? "";
    var image = Model.Value<IPublishedContent>.("sidebarImage")?.Url() ?? null;
    var text = Model.Value<string>("sidebarText") ?? "";

    var projectImage = Model.Value<IPublishedContent>("recentProjectImage") ?? "";
    var projectHeadline = Model.Value<string>("recentProjectHeadline") ?? "";
    var projectPublished = Model.Value<string>("projectPublished") ?? "";
}

<aside>
    <h5>@headline</h5>
    <img src="@image" />
    <p class="text"></p>

        <h4>@projectHeadline</h4>
    <img src="@projectImage" />
    <p class="text">@projectPublished</p>



</aside>