@*
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper


@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var about = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "aboutPage") ?? null;

    var aboutPage = Model.AncestorsOrSelf().FirstOrDefault(x => x.ContentType.Alias == "aboutPage") ?? null;
    var membersList = aboutPage?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>>("membersList") ?? null;

    var sectionTitle = Model.Value<string>("sectionTitle") ?? "";
    var sectionHeadline = Model.Value<string>("headline") ?? "";

}



@if(membersList != null) {

    <div class="container">
        <div class="headline">
            <h3>@sectionHeadline</h3>
            <h2>@sectionTitle</h2>
        </div>
        <div class="team-members">
            @foreach(var member in membersList) {
                var jobTitle = member.Content.Value<string>("membersJobTitle") ?? "" ;
                var name = member.Content.Value<string>("membersName") ?? "";
                var image = member.Content.Value<IPublishedContent>("membersImage")?.Url() ?? "";

                <div class="team-member">
                    <img src="@image" />
                    <div class="subtext">
                        <h4>@name</h4>
                        <p>@jobTitle</p>
                    </div>
                </div>
            }
        </div>    

    </div>

}

*@
