@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var uniqueName = Model.Content.Value<string>("uniqueName") ?? "";
    var inputType = Model.Content.Value<IEnumerable<string>>("inputType");
    var label = Model.Content.Value<string>("labelText") ?? "";
    var hideLabel = Model.Content.Value<bool>("hideLabel");
    var placeholder = Model.Content.Value<string>("placeholderText") ?? "";
    
    var isRequired = Model.Content.Value<bool>("isRequired");
    var errorMessage = Model.Content.Value<string>("errorMessage") ?? "";



    bool.TryParse(ViewData["error_email"]?.ToString()!, out bool error_email);
    // Kontrollera om formuläret har skickats
    bool formSubmitted = TempData["form_submitted"] != null && (bool)TempData["form_submitted"]!;
}

<div id="_@uniqueName" class="form-input-group">
    @if(!hideLabel) {
        <label for="@uniqueName">@label</label>
    } else {
        <label for="@uniqueName"></label>

    }
    <input type="@inputType" id="@uniqueName" name="@uniqueName" placeholder="@placeholder" required="@isRequired" value="@ViewData["email"]">


    <span class="form-input-error @(error_email ? "form-invalid-input" : "")">
        @if (error_email)
        {
            <span class="form-invalid-input">@errorMessage</span>
        }
    </span>


</div>